.mac-book-pro161-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mac-book-pro161-mac-book-pro161 {
  width: 100%;
  height: 2321px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.mac-book-pro161-rectangle25 {
  top: 75px;
  left: 0px;
  width: 1728px;
  height: 1969px;
  position: absolute;
}
 
.mac-book-pro161-group10 {
  top: 75px;
  left: 673px;
  width: 399.5px;
  height: 308px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-image2 {
  top: 0px;
  left: 0px;
  width: 399px;
  height: 308px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle10 {
  top: 221px;
  left: 0.5px;
  width: 399px;
  height: 82px;
  position: absolute;
}
 
.mac-book-pro161-text10 {
  top: 231px;
  left: 104px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-footer {
  top: 2044px;
  left: -10px;
  width: 1738px;
  height: 278px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-pro161-rectangle161 {
  top: 0px;
  left: 0px;
  width: 1738px;
  height: 278px;
  position: absolute;
}
 
.mac-book-pro161-text11 {
  top: 97.29393768310547px;
  left: 394px;
  color: rgba(255, 255, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text15 {
  top: 95.24242401123047px;
  left: 605px;
  color: rgba(255, 255, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text16 {
  top: 211.63938903808594px;
  left: 698px;
  color: rgba(164, 150, 150, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text17 {
  top: 99.30000305175781px;
  left: 139px;
  color: rgba(255, 255, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text23 {
  top: 66.19999694824219px;
  left: 392px;
  color: rgba(205, 186, 186, 1);
  width: 43px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.mac-book-pro161-text24 {
  top: 66.19999694824219px;
  left: 603px;
  color: rgba(205, 186, 186, 1);
  width: 92px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.mac-book-pro161-text25 {
  top: 65.17878723144531px;
  left: 136px;
  color: rgba(205, 186, 186, 1);
  width: 95px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.mac-book-pro161-text26 {
  top: 59.17878723144531px;
  left: 1185px;
  color: rgba(255, 255, 255, 1);
  width: 159px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.mac-book-pro161-vector1 {
  top: 104.31515502929688px;
  left: 1323px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.mac-book-pro161-vector2 {
  top: 104.31515502929688px;
  left: 1260px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.mac-book-pro161-vector3 {
  top: 105.31818389892578px;
  left: 1197px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.mac-book-pro161-vector4 {
  top: 213.69090270996094px;
  left: 661px;
  width: 28px;
  height: 23px;
  position: absolute;
}
 
.mac-book-pro161-vector5 {
  top: 104px;
  left: 1386px;
  width: 40px;
  height: 40px;
  position: absolute;
}
 
.mac-book-pro161-group9 {
  top: 470px;
  left: 289px;
  width: 519px;
  height: 469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-image3 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 469px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle261 {
  top: 0px;
  left: 0px;
  width: 277px;
  height: 93px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text27 {
  top: 8.8104248046875px;
  left: 19.236114501953125px;
  color: rgba(0, 0, 0, 1);
  width: 237px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle262 {
  top: 392px;
  left: 303px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 25px 0 0 25px;
}
 
.mac-book-pro161-text28 {
  top: 399.294677734375px;
  left: 329px;
  color: rgba(255, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-group11 {
  top: 470px;
  left: 959px;
  width: 540px;
  height: 469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-image4 {
  top: 0px;
  left: 0px;
  width: 519px;
  height: 469px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle263 {
  top: 0px;
  left: 0px;
  width: 458px;
  height: 92px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text29 {
  top: 8.7156982421875px;
  left: 31.796630859375px;
  color: rgba(0, 0, 0, 1);
  width: 392px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle281 {
  top: 392px;
  left: 307px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 25px 0 0 25px;
}
 
.mac-book-pro161-text30 {
  top: 402.294677734375px;
  left: 355px;
  color: rgba(255, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-group4 {
  top: 1553px;
  left: 20px;
  width: 1689px;
  height: 462px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-group13 {
  top: 0px;
  left: 0px;
  width: 1689px;
  height: 462px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-text31 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 477px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-group12 {
  top: 74px;
  left: 0px;
  width: 1689px;
  height: 388px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-rectangle17 {
  top: 0px;
  left: 1px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle18 {
  top: 0px;
  left: 444px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle19 {
  top: 0px;
  left: 887px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle20 {
  top: 0px;
  left: 1346px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle23 {
  top: 363px;
  left: 1px;
  width: 1688px;
  height: 25px;
  position: absolute;
  border-radius: 45px;
}
 
.mac-book-pro161-rectangle24 {
  top: 363px;
  left: 1px;
  width: 285px;
  height: 25px;
  position: absolute;
  border-radius: 45px;
}
 
.mac-book-pro161-rectangle271 {
  top: 248px;
  left: 0px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text32 {
  top: 255.294677734375px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle272 {
  top: 247px;
  left: 444px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text36 {
  top: 254.294677734375px;
  left: 459px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle273 {
  top: 247px;
  left: 887px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-rectangle282 {
  top: 251px;
  left: 1346px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text40 {
  top: 254.294677734375px;
  left: 902px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text44 {
  top: 258.294677734375px;
  left: 1359px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-group6 {
  top: 1009px;
  left: 19px;
  width: 1689px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.mac-book-pro161-rectangle13 {
  top: 83px;
  left: 1px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle14 {
  top: 83px;
  left: 444px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-rectangle15 {
  top: 83px;
  left: 887px;
  width: 343px;
  height: 324px;
  position: absolute;
}
 
.mac-book-pro161-rectangle162 {
  top: 83px;
  left: 1346px;
  width: 343px;
  height: 324px;
  position: absolute;
  border-radius: 15px;
}
 
.mac-book-pro161-text48 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle21 {
  top: 434px;
  left: 1px;
  width: 1688px;
  height: 25px;
  position: absolute;
  border-radius: 45px;
}
 
.mac-book-pro161-rectangle22 {
  top: 434px;
  left: 1px;
  width: 285px;
  height: 25px;
  position: absolute;
  border-radius: 45px;
}
 
.mac-book-pro161-rectangle264 {
  top: 334px;
  left: 0px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text49 {
  top: 341.294677734375px;
  left: 15px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle265 {
  top: 331px;
  left: 444px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text53 {
  top: 340.294677734375px;
  left: 459px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle266 {
  top: 331px;
  left: 887px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text57 {
  top: 340.294677734375px;
  left: 902px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-rectangle267 {
  top: 331px;
  left: 1346px;
  width: 216px;
  height: 77px;
  position: absolute;
  border-radius: 0 25px 25px 0;
}
 
.mac-book-pro161-text61 {
  top: 340.294677734375px;
  left: 1360px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 800;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-header {
  top: 35px;
  left: 5px;
  width: 1728px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.mac-book-pro161-rectangle8 {
  top: -42px;
  left: -5px;
  width: 1728px;
  height: 83px;
  position: absolute;
}
 
.mac-book-pro161-text65 {
  top: 25px;
  left: 129px;
  color: rgba(239, 228, 148, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro161-text66 {
  top: 25px;
  left: 29px;
  color: rgba(239, 228, 148, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro161-text67 {
  top: 25px;
  left: 224px;
  color: rgba(239, 228, 148, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.mac-book-pro161-text68 {
  text-decoration: NONE;
}
 
.mac-book-pro161-text69 {
  text-decoration: UNDERLINE;
}
 
.mac-book-pro161-text71 {
  top: 25px;
  left: 340px;
  color: rgba(239, 228, 148, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro161-text72 {
  top: 25px;
  left: 542px;
  color: rgba(239, 228, 148, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro161-text73 {
  top: 25px;
  left: 1389px;
  color: rgba(239, 228, 148, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro161-text74 {
  top: 25px;
  left: 1575px;
  color: rgba(239, 228, 148, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.mac-book-pro161-image1 {
  top: 0px;
  left: 815px;
  width: 119px;
  height: 75px;
  position: absolute;
  border-radius: 15px;
}
