.paymentshippingpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.paymentshippingpage-paymentshippingpage {
  width: 100%;
  height: 1436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.paymentshippingpage-rectangle17 {
  top: 75px;
  left: 2px;
  width: 1728px;
  height: 1022px;
  position: absolute;
}
 
.paymentshippingpage-content1 {
  gap: 48px;
  top: 157px;
  left: 199px;
  width: 32px;
  height: 291px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.paymentshippingpage-left {
  gap: 24px;
  width: 816px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.paymentshippingpage-status1 {
  gap: 24px;
  width: 816px;
  height: 434px;
  display: flex;
  padding: 32px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(248, 247, 248, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.paymentshippingpage-title-subtitle1 {
  gap: 8px;
  top: 32px;
  left: 32px;
  width: 476px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.paymentshippingpage-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 32px;
}
 
.paymentshippingpage-text11 {
  color: rgba(128, 118, 129, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
 
.paymentshippingpage-frame1984078165 {
  gap: 40px;
  top: 150px;
  left: 80px;
  width: 657px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.paymentshippingpage-frame1984078166 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.paymentshippingpage-ellipse6 {
  width: 84px;
  height: 84px;
}
 
.paymentshippingpage-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
 
.paymentshippingpage-frame1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.paymentshippingpage-frame1984078162 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.paymentshippingpage-rectangle40 {
  width: auto;
  height: 8px;
  flex-grow: 1;
  border-radius: 12px;
}
 
.paymentshippingpage-rectangle41 {
  width: auto;
  height: 8px;
  flex-grow: 1;
  border-radius: 12px;
}
 
.paymentshippingpage-rectangle42 {
  width: auto;
  height: 8px;
  flex-grow: 1;
  border-radius: 12px;
}
 
.paymentshippingpage-frame1984078163 {
  gap: 78px;
  width: 657px;
  height: 21px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
}
 
.paymentshippingpage-title-subtitle2 {
  gap: 8px;
  top: 0px;
  left: 15px;
  width: 167px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.paymentshippingpage-checkbox1 {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 32px;
  background-color: rgba(182, 52, 154, 1);
}
 
.paymentshippingpage-check {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
}
 
.paymentshippingpage-text13 {
  color: rgba(128, 118, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-title-subtitle3 {
  gap: 8px;
  top: 0px;
  left: 245px;
  width: 167px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.paymentshippingpage-checkbox2 {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(240, 238, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
}
 
.paymentshippingpage-text14 {
  color: rgba(128, 118, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-title-subtitle4 {
  gap: 8px;
  top: 0px;
  left: 475px;
  width: 167px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.paymentshippingpage-checkbox3 {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(240, 238, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
}
 
.paymentshippingpage-text15 {
  color: rgba(128, 118, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-tag {
  gap: 8px;
  top: 32px;
  left: 675px;
  width: 88px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(182, 52, 154, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(250, 248, 249, 1);
}
 
.paymentshippingpage-text16 {
  color: rgba(182, 52, 154, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
 
.paymentshippingpage-group1 {
  top: 172px;
  left: 387.802001953125px;
  width: 40.39605712890625px;
  height: 40.7293701171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.paymentshippingpage-vector10 {
  top: 0px;
  left: -0.000030517578125px;
  width: 40px;
  height: 41px;
  position: absolute;
}
 
.paymentshippingpage-content2 {
  gap: 24px;
  display: flex;
  padding: 32px 24px;
  align-self: stretch;
  align-items: center;
  border-color: rgba(248, 247, 248, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.paymentshippingpage-frame1984078137 {
  gap: 24px;
  width: 712px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.paymentshippingpage-frame1984078173 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.paymentshippingpage-list {
  gap: 16px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  border-color: rgba(248, 247, 248, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.paymentshippingpage-group2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.paymentshippingpage-text17 {
  color: rgba(104, 96, 105, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
 
.paymentshippingpage-liat {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.paymentshippingpage-frame25 {
  gap: 24px;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(248, 247, 248, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.paymentshippingpage-group3 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.paymentshippingpage-frame191 {
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12.190473556518555px;
}
 
.paymentshippingpage-rectangle131 {
  top: 0px;
  left: 0px;
  width: 105px;
  height: 103px;
  position: absolute;
  align-self: stretch;
  border-radius: 12.190473556518555px;
}
 
.paymentshippingpage-image2 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 32px;
}
 
.paymentshippingpage-group4 {
  gap: 8px;
  width: 488px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.paymentshippingpage-price1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
 
.paymentshippingpage-text18 {
  color: rgba(182, 52, 154, 1);
  height: auto;
  text-align: left;
  line-height: 20px;
}
 
.paymentshippingpage-text19 {
  color: rgba(156, 147, 157, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Degular Demo;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: line-through;
}
 
.paymentshippingpage-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-frame26 {
  gap: 24px;
  display: flex;
  padding: 24px 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(248, 247, 248, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.paymentshippingpage-group5 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.paymentshippingpage-frame192 {
  width: 64px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12.190473556518555px;
}
 
.paymentshippingpage-rectangle132 {
  top: 0px;
  left: 0px;
  width: 105px;
  height: 103px;
  position: absolute;
  align-self: stretch;
  border-radius: 12.190473556518555px;
}
 
.paymentshippingpage-image1 {
  top: 11.428581237792969px;
  left: 1.524729609489441px;
  width: 61px;
  height: 41px;
  position: absolute;
}
 
.paymentshippingpage-image3 {
  top: 0px;
  left: 0px;
  width: 62px;
  height: 64px;
  position: absolute;
  align-self: stretch;
  border-radius: 32px;
}
 
.paymentshippingpage-group6 {
  gap: 8px;
  width: 484px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.paymentshippingpage-price2 {
  gap: 8px;
  display: flex;
  align-items: center;
}
 
.paymentshippingpage-text21 {
  color: rgba(182, 52, 154, 1);
  height: auto;
  text-align: left;
  line-height: 20px;
}
 
.paymentshippingpage-text22 {
  color: rgba(156, 147, 157, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Degular Demo;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: line-through;
}
 
.paymentshippingpage-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-right-widget {
  gap: 60px;
  top: 157px;
  left: 1064px;
  width: 416px;
  height: 434px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.paymentshippingpage-status2 {
  gap: 24px;
  width: 416px;
  height: 267px;
  display: flex;
  padding: 32px 24px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 4px 64px 0px rgba(22, 19, 21, 0.03999999910593033) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  justify-content: center;
  background-color: rgba(252, 252, 252, 1);
}
 
.paymentshippingpage-title-subtitle5 {
  gap: 8px;
  top: 24px;
  left: 24px;
  width: 360px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.paymentshippingpage-text24 {
  color: rgba(13, 12, 13, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
}
 
.paymentshippingpage-frame1984078154 {
  gap: 8px;
  display: flex;
  align-items: center;
}
 
.paymentshippingpage-text25 {
  color: rgba(128, 118, 129, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
 
.paymentshippingpage-button {
  gap: 8px;
  display: flex;
  align-items: center;
  border-radius: 39px;
  justify-content: center;
}
 
.paymentshippingpage-copy1 {
  width: 15.999999046325684px;
  height: 15.999999046325684px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.paymentshippingpage-vuesaxlinearcopy {
  top: 0px;
  left: 0px;
  width: 15.999999046325684px;
  height: 15.999999046325684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.paymentshippingpage-copy2 {
  top: 0px;
  left: 0px;
  width: 15.999999046325684px;
  height: 15.999999046325684px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.paymentshippingpage-vector11 {
  top: 5.3333330154418945px;
  left: 1.3333332538604736px;
  width: 9px;
  height: 9px;
  position: absolute;
}
 
.paymentshippingpage-vector12 {
  top: 1.3333332538604736px;
  left: 5.3333330154418945px;
  width: 9px;
  height: 9px;
  position: absolute;
}
 
.paymentshippingpage-text26 {
  color: rgba(182, 52, 154, 1);
  height: auto;
  text-align: center;
  line-height: 16px;
}
 
.paymentshippingpage-frame1984078153 {
  top: 91px;
  left: 24px;
  width: 360px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.paymentshippingpage-frame1984078152 {
  gap: 44px;
  display: flex;
  padding: 14px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.paymentshippingpage-text27 {
  color: rgba(13, 12, 13, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
 
.paymentshippingpage-text28 {
  color: rgba(13, 12, 13, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
 
.paymentshippingpage-frame1984078150 {
  gap: 44px;
  display: flex;
  padding: 14px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(248, 247, 248, 1);
  border-style: solid;
  border-width: 1px 0;
  justify-content: space-between;
}
 
.paymentshippingpage-text29 {
  color: rgba(0, 0, 0, 1);
  width: 390px;
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-frame1984078151 {
  gap: 44px;
  top: 215px;
  left: 28px;
  width: 360px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.paymentshippingpage-text33 {
  color: rgba(13, 12, 13, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text34 {
  color: rgba(13, 12, 13, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-status3 {
  gap: 24px;
  width: 416px;
  height: 106px;
  display: flex;
  padding: 32px 24px;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 4px 64px 0px rgba(22, 19, 21, 0.03999999910593033) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  justify-content: center;
  background-color: rgba(252, 252, 252, 1);
}
 
.paymentshippingpage-frame90 {
  top: 24px;
  left: 24px;
  width: 368px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.paymentshippingpage-title-subtitle6 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.paymentshippingpage-frame59 {
  gap: 8px;
  display: flex;
  align-items: center;
}
 
.paymentshippingpage-frame01 {
  width: 25px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(254, 250, 253, 1);
  border-style: solid;
  border-width: 1.25px;
  border-radius: 15px;
}
 
.paymentshippingpage-card {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(16, 15, 17, 1);
}
 
.paymentshippingpage-icon32px-mastercard {
  top: 0px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.paymentshippingpage-group9 {
  top: 6.40777587890625px;
  left: 3.75px;
  width: 12.158994674682617px;
  height: 7.50006103515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.paymentshippingpage-vector13 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
}
 
.paymentshippingpage-vector14 {
  top: -0.00005086262899567373px;
  left: 4.659017086029053px;
  width: 7px;
  height: 7px;
  position: absolute;
}
 
.paymentshippingpage-vector15 {
  top: 0.811309814453125px;
  left: 4.659017086029053px;
  width: 3px;
  height: 6px;
  position: absolute;
}
 
.paymentshippingpage-text35 {
  color: rgba(182, 52, 154, 1);
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text36 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-form-log-in {
  gap: 10px;
  top: 621px;
  left: 1064px;
  width: 413px;
  height: 326px;
  display: flex;
  padding: 14px 0;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.41999998688697815);
  border-style: solid;
  border-width: 6px;
  border-radius: 8px;
  background-color: rgba(160, 116, 56, 0.44999998807907104);
}
 
.paymentshippingpage-rectangle1072 {
  top: 55px;
  left: 19px;
  width: 373px;
  height: 253px;
  position: absolute;
}
 
.paymentshippingpage-text37 {
  top: 231px;
  left: 151px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text38 {
  top: 197px;
  left: 151px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text39 {
  top: 226px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text40 {
  top: 198px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text41 {
  top: 133px;
  left: 141px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text42 {
  top: 159px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text43 {
  top: 157px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text44 {
  top: 129px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text45 {
  top: 101px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text46 {
  top: 104px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text47 {
  top: 73px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-rectangle1073 {
  top: 72px;
  left: 113px;
  width: 92px;
  height: 29px;
  position: absolute;
}
 
.paymentshippingpage-text48 {
  top: 76px;
  left: 141px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text49 {
  top: 5px;
  left: 64px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-footer {
  top: 1099px;
  left: -8px;
  width: 1738px;
  height: 337px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.paymentshippingpage-rectangle16 {
  top: 0px;
  left: 0px;
  width: 1738px;
  height: 337px;
  position: absolute;
}
 
.paymentshippingpage-text50 {
  top: 117.9426498413086px;
  left: 394px;
  color: rgba(255, 255, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text54 {
  top: 113.27229309082031px;
  left: 606px;
  color: rgba(255, 255, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text55 {
  top: 256.5556640625px;
  left: 698px;
  color: rgba(164, 150, 150, 1);
  width: 463px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text56 {
  top: 120.37446594238281px;
  left: 139px;
  color: rgba(255, 255, 255, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text62 {
  top: 80.2496337890625px;
  left: 390px;
  color: rgba(205, 186, 186, 1);
  width: 43px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.paymentshippingpage-text63 {
  top: 80.2496337890625px;
  left: 603px;
  color: rgba(205, 186, 186, 1);
  width: 92px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.paymentshippingpage-text64 {
  top: 71.73831176757812px;
  left: 136px;
  color: rgba(205, 186, 186, 1);
  width: 95px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.paymentshippingpage-text65 {
  top: 71.73831176757812px;
  left: 1185px;
  color: rgba(255, 255, 255, 1);
  width: 159px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 28px;
}
 
.paymentshippingpage-vector16 {
  top: 126.4539794921875px;
  left: 1323px;
  width: 40px;
  height: 49px;
  position: absolute;
}
 
.paymentshippingpage-vector17 {
  top: 126.4539794921875px;
  left: 1260px;
  width: 40px;
  height: 49px;
  position: absolute;
}
 
.paymentshippingpage-vector18 {
  top: 127.66988372802734px;
  left: 1197px;
  width: 40px;
  height: 49px;
  position: absolute;
}
 
.paymentshippingpage-vector19 {
  top: 258.22601318359375px;
  left: 661px;
  width: 28px;
  height: 28px;
  position: absolute;
}
 
.paymentshippingpage-vector20 {
  top: 126.07194519042969px;
  left: 1386px;
  width: 40px;
  height: 48px;
  position: absolute;
}
 
.paymentshippingpage-header {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.paymentshippingpage-rectangle8 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 75px;
  position: absolute;
}
 
.paymentshippingpage-text66 {
  top: 23px;
  left: 133.51417541503906px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.paymentshippingpage-text67 {
  top: 23px;
  left: 28.816009521484375px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.paymentshippingpage-text68 {
  top: 23.02630615234375px;
  left: 231.4886016845703px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.paymentshippingpage-text69 {
  text-decoration: NONE;
}
 
.paymentshippingpage-text70 {
  text-decoration: UNDERLINE;
}
 
.paymentshippingpage-text72 {
  top: 23.02630615234375px;
  left: 353.47637939453125px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.paymentshippingpage-text73 {
  top: 23.02630615234375px;
  left: 563.833251953125px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.paymentshippingpage-text74 {
  top: 23.026315689086914px;
  left: 1406.65478515625px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.paymentshippingpage-text75 {
  top: 23.026315689086914px;
  left: 1584.353515625px;
  color: rgba(239, 228, 148, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
